//================ header style ================//
.header {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 50;
  // header__row
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
  }
  // header__menu
  &__menu {
  }
  // header__logo
  &__logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    transform: translate(-50%, 0);
  }
  @media (max-width: 767px) {
    top: 15px;
  }
}

.menu {
  // menu__icon
  &__icon {
  }
  // menu__body
  &__body {
  }
  // menu__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: —Åenter;
    li {
      color: #4d4959;
      position: relative;
      padding: 0 37.5px;
      &:nth-child(2) {
        padding: 0 110px 0 37.5px;
        &::after {
          display: none;
        }
      }
      &:nth-child(3) {
        padding: 0 37.5px 0 110px;
      }
      &::after {
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #4d4959;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -1px 0 0 0;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  // menu__link
  &__link {
    font-size: 13px;
    font-family: "Lato";
    color: #4d4959;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2.6px;
    z-index: 168;
  }
  /*----- MEDIA max-width: 767px -----*/
  @media (max-width: 767px) {
    &__body {
      position: fixed;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #4d4959;
      padding: 150px 0 20px 0;
      overflow: auto;
      transform: translate(0%, 0%);
      transition: 0.25s ease-in-out;
      &.active {
        width: 100%;
      }
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 0 45px 0;
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0 0 45px 0;
          &::after {
            display: block;
          }
        }
        &:last-child {
          padding: 0;
        }
        &::after {
          width: 4px;
          height: 4px;
          background-color: #fff;
          right: 50%;
          top: 50px;
          margin: 0 -2px 0 0;
        }
      }
    }
    &__link {
      color: #fff;
      font-size: 20px;
    }
  }
}

.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      top: 8px;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: green;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          bottom: 8px;
        }
      }
    }
  }
}
