$fontfamily: "Lato" !global;
@import "mixins.scss"; //my_mixins
@import "null.scss"; //reset
@import "ul.scss"; //reset
//==============================================//
//================ header style ================//
.header {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 50;
  // header__row
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
  }
  // header__menu
  &__menu {
  }
  // header__logo
  &__logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    transform: translate(-50%, 0);
  }
  @media (max-width: 767px) {
    top: 15px;
  }
}

.menu {
  // menu__icon
  &__icon {
  }
  // menu__body
  &__body {
  }
  // menu__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: —Åenter;
    li {
      color: #4d4959;
      position: relative;
      padding: 0 37.5px;
      &:nth-child(2) {
        padding: 0 110px 0 37.5px;
        &::after {
          display: none;
        }
      }
      &:nth-child(3) {
        padding: 0 37.5px 0 110px;
      }
      &::after {
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #4d4959;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -1px 0 0 0;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  // menu__link
  &__link {
    font-size: 13px;
    font-family: "Lato";
    color: #4d4959;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2.6px;
    z-index: 168;
  }
  /*----- MEDIA max-width: 767px -----*/
  @media (max-width: 767px) {
    &__body {
      position: fixed;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #4d4959;
      padding: 150px 0 20px 0;
      overflow: auto;
      transform: translate(0%, 0%);
      transition: 0.25s ease-in-out;
      &.active {
        width: 100%;
      }
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 0 45px 0;
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0 0 45px 0;
          &::after {
            display: block;
          }
        }
        &:last-child {
          padding: 0;
        }
        &::after {
          width: 4px;
          height: 4px;
          background-color: #fff;
          right: 50%;
          top: 50px;
          margin: 0 -2px 0 0;
        }
      }
    }
    &__link {
      color: #fff;
      font-size: 20px;
    }
  }
}

.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      top: 8px;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: green;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          bottom: 8px;
        }
      }
    }
  }
}
//==============================================//
//================ body style ==================//
body {
  font-family: $fontfamily;
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}
//==============================================//
//====================== main block ============//
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
//================ section generation ================//
// .content {
//   position: relative;
// }

.generation {
  padding: 120px 0;s
  background-color: #f7f7f7;
  //generation__block
  @media (max-width: 940px) {
    padding: 80px 0;
  }
  @media (max-width: 640px) {
    padding: 30px 0;
  }
}
//==============================================//
.block {
  text-align: center;
  // block__icon
  &__icon {
    margin: 0px 0px 30px 0px;
  }
  // block__title
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #353738;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3.6px;
    padding: 0px 0px 18px 0px;
  }

  &__text {
    font-size: 18px;
    color: #848789;
    line-height: 1.9;
    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 1.875;
      &::after {
        content: "";
        display: block;
        margin: 35px auto 0;
        width: 50px;
        height: 1px;
        background-color: #d7d7d7;
      }
    }
    @media (max-width: 1500px) {
      &__text {
        &_j {
          &:after {
            margin: 15px auto 0;
          }
        }
      }
    }
  }
}
//==============================================//
.brands {
  &_rev {
    .brands__column {
      order: 1;
      &_big {
        order: 2;
      }
    }
  }
  &__row {
    display: flex;
  }
  &__column {
    flex: 0 1 33.333%;
    &_big {
      flex: 0 1 66.667%;
    }
  }
  // brands__item
  &__item {
    // item__image
    &__image {
      padding: 0 0 37.51% 0;
    }
  }
  &__image img {
    width: 100%;
  }
  // brands__content
  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -10px;
      height: 0;
      width: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }
  @media (max-width: 1500px) {
    &__content {
      padding: 70px 35px 55px 35px;
    }
  }

  @media (max-width: 1100px) {
    &__row {
      flex-direction: column;
    }
    &_last {
      .brands__column {
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 3;
        }
      }
    }
  }
}
//==============================================//
.item {
  height: 100%;
  display: block;
  position: relative;
  // item__logo
  &__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.4s, transform 0.4s;
    span {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  // item__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .item__logo {
      opacity: 0.7;
      visibility: visible;
      background-color: rgba(100, 194, 158, 0.7);
    }
  }
  @media (max-width: 1100px) {
    height: auto;
    padding: 0 0 70% 0;
  }
}
//==============================================//
.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px;

  // slider__item
  &__item {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
  // slider__icon
  &__icon {
    margin: 0 0 20px 0;
  }
  // slider__title
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #353738;
    margin: 0 0 20px 0;
    span {
      color: #848789;
      font-weight: 400;
    }
  }
  // slider__text
  &__text {
    font-size: 24px;
    font-style: italic;
    color: #848789;
    line-height: 1.4;
  }
}

.shop {
  // shop__body
  &__body {
    display: flex;
  }
  // shop__column
  &__column {
    flex: 0 1 16.665%;
    // shop__column_big
    &_big {
      flex: 0 1 33.333%;
    }
  }
  // shop__block
  &__block {
  }
  // shop__footer
  &__footer {
    background-color: #282f35;
    text-align: center;
    padding: 75px 0;
  }
  // shop__btn
  &__btn {
    display: inline-block;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 3.4;
    letter-spacing: 2.8px;
    color: #fff;
    padding: 0 60px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background-color 0.4s, transform 0.4s;
    &:hover {
      background-color: #fff;
      border: 1px solid #282f35;
      color: #282f35;
    }
  }
  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
      &:first-child {
        flex: 1 1 100%;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
    &__btn {
      padding: 0 30px;
    }
    &__footer {
      padding: 50px 0;
    }
  }
}
// block-shop
.block-shop {
  height: 100%;
  // block-shop__row
  &__row {
    display: flex;
  }
  // block-shop__column
  &__column {
    flex: 0 1 50%;
  }
  // block-shop__item
  &__item {
    padding: 0 0 50% 0;
    height: auto;
    overflow: hidden;
    // block-shop__item_big
    &_big {
      padding: 0 0 202.5% 0;
    }
    &_l {
      padding: 0 0 101% 0;
    }
  }
}

//======================= subscribe =================//
.subscribe {
  &__body {
    padding: 110px 0;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo {
    margin: 0 0 39px 0;
  }
  &__label {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    margin: 0 0 35px 0;
  }
  &__form {
    display: flex;
  }
  &__input {
    flex: 1 1 auto;
    padding: 0 8px 0 0;
    .input {
      width: 100%;
      height: 69px;
      border: 1px solid #64c29e;
      padding: 0px 28px;
      font-size: 20px;
      color: rgba(146, 146, 146, 0.502);
      margin-right: 10px;
      &.focus {
        font-style: normal;
        color: #333;
      }
      &.err {
        border: 1px solid red;
      }
    }
  }
  &__button {
    flex: 0 0 126px;
  }
  &__btn {
    background-color: #64c29e;
    color: #fff;
    width: 126px;
    height: 69px;
    line-height: 1;
    font-weight: 300;
  }
  @media (max-width: 768px) {
    &__body {
      padding: 50px 0;
    }
  }
  @media (max-width: 480px) {
    &__form {
      display: block;
    }
    &__input {
      padding: 0 0 8px 0;
    }
    &__btn {
      width: 100%;
    }
  }
}

footer {
  background-color: #f7f7f7;
  &__row {
    display: flex;
    padding: 100px 0;
    align-items: center;
  }
  &_column {
    flex: 0 1 33.333%;
  }
  &__adress {
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
    }
  }

  &__dev {
    &__text {
    }
    &__icon {
    }
  }
}

/*----- MEDIA max-width: 400px -----*/
@media (max-width: 400px) {
}