@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
header,
footer,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 100%; }

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Arial"; }

input,
button,
textarea {
  font-family: "Arial"; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul,
li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ibg img {
    display: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track {
    display: flex;
    align-items: flex-start; }
  .slick-slider .slick-dots {
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .slick-slider .slick-dots li button {
      border: 1px solid #c8c8c8;
      border-radius: 50%;
      background-color: transparent;
      width: 11px;
      height: 11px;
      position: relative; }
      .slick-slider .slick-dots li button::before {
        content: "•";
        font-size: 0px; }

.header {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 50; }
  .header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    transform: translate(-50%, 0); }
  @media (max-width: 767px) {
    .header {
      top: 15px; } }

.menu {
  /*----- MEDIA max-width: 767px -----*/ }
  .menu__list {
    display: flex;
    justify-content: center;
    align-items: сenter; }
    .menu__list li {
      color: #4d4959;
      position: relative;
      padding: 0 37.5px; }
      .menu__list li:nth-child(2) {
        padding: 0 110px 0 37.5px; }
        .menu__list li:nth-child(2)::after {
          display: none; }
      .menu__list li:nth-child(3) {
        padding: 0 37.5px 0 110px; }
      .menu__list li::after {
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #4d4959;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -1px 0 0 0; }
      .menu__list li:last-child::after {
        display: none; }
  .menu__link {
    font-size: 13px;
    font-family: "Lato";
    color: #4d4959;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2.6px;
    z-index: 168; }
  @media (max-width: 767px) {
    .menu__body {
      position: fixed;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #4d4959;
      padding: 150px 0 20px 0;
      overflow: auto;
      transform: translate(0%, 0%);
      transition: 0.25s ease-in-out; }
      .menu__body.active {
        width: 100%; }
    .menu__list {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .menu__list li {
        padding: 0 0 45px 0; }
        .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
          padding: 0 0 45px 0; }
          .menu__list li:nth-child(2)::after, .menu__list li:nth-child(3)::after {
            display: block; }
        .menu__list li:last-child {
          padding: 0; }
        .menu__list li::after {
          width: 4px;
          height: 4px;
          background-color: #fff;
          right: 50%;
          top: 50px;
          margin: 0 -2px 0 0; }
    .menu__link {
      color: #fff;
      font-size: 20px; } }

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .icon-menu span {
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      top: 8px;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: green; }
      .icon-menu span:first-child {
        top: 0; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0; }
    .icon-menu.active span:first-child {
      transform: rotate(45deg);
      top: 8px; }
    .icon-menu.active span:nth-child(2) {
      opacity: 0; }
    .icon-menu.active span:last-child {
      transform: rotate(-45deg);
      bottom: 8px; } }

body {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400; }

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column; }

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px; }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.ibg img {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; }

.main-screen {
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.content {
  position: relative; }

.generation {
  padding: 120px 0;
  background-color: #f7f7f7; }
  @media (max-width: 940px) {
    .generation {
      padding: 80px 0; } }
  @media (max-width: 640px) {
    .generation {
      padding: 30px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0px 0px 30px 0px; }
  .block__title {
    font-size: 18px;
    font-weight: 700;
    color: #353738;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3.6px;
    padding: 0px 0px 18px 0px; }
  .block__text {
    font-size: 18px;
    color: #848789;
    line-height: 1.9; }
    .block__text_j {
      text-align: justify;
      font-size: 16px;
      line-height: 1.875; }
      .block__text_j::after {
        content: "";
        display: block;
        margin: 35px auto 0;
        width: 50px;
        height: 1px;
        background-color: #d7d7d7; }
    @media (max-width: 1500px) {
      .block__text__text_j:after {
        margin: 15px auto 0; } }

.brands_rev .brands__column {
  order: 1; }
  .brands_rev .brands__column_big {
    order: 2; }

.brands__row {
  display: flex; }

.brands__column {
  flex: 0 1 33.333%; }
  .brands__column_big {
    flex: 0 1 66.667%; }

.brands__item__image {
  padding: 0 0 37.51% 0; }

.brands__image img {
  width: 100%; }

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative; }
  .brands__content::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0 0 0 -10px;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; }

@media (max-width: 1500px) {
  .brands__content {
    padding: 70px 35px 55px 35px; } }

@media (max-width: 1100px) {
  .brands__row {
    flex-direction: column; }
  .brands_last .brands__column:nth-child(1) {
    order: 2; }
  .brands_last .brands__column:nth-child(2) {
    order: 1; }
  .brands_last .brands__column:nth-child(3) {
    order: 3; } }

.item {
  height: 100%;
  display: block;
  position: relative; }
  .item__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.4s, transform 0.4s; }
    .item__logo span {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      color: #fff;
      text-transform: uppercase; }
  .item__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .item:hover .item__logo {
    opacity: 0.7;
    visibility: visible;
    background-color: rgba(100, 194, 158, 0.7); }
  @media (max-width: 1100px) {
    .item {
      height: auto;
      padding: 0 0 70% 0; } }

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px; }
  .slider__item {
    text-align: center; }
    .slider__item img {
      margin: 0 auto; }
  .slider__icon {
    margin: 0 0 20px 0; }
  .slider__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #353738;
    margin: 0 0 20px 0; }
    .slider__title span {
      color: #848789;
      font-weight: 400; }
  .slider__text {
    font-size: 24px;
    font-style: italic;
    color: #848789;
    line-height: 1.4; }

.shop__body {
  display: flex; }

.shop__column {
  flex: 0 1 16.665%; }
  .shop__column_big {
    flex: 0 1 33.333%; }

.shop__footer {
  background-color: #282f35;
  text-align: center;
  padding: 75px 0; }

.shop__btn {
  display: inline-block;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 0 60px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: background-color 0.4s, transform 0.4s; }
  .shop__btn:hover {
    background-color: #fff;
    border: 1px solid #282f35;
    color: #282f35; }

@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap; }
  .shop__column {
    flex: 0 1 50%; }
    .shop__column:first-child {
      flex: 1 1 100%; }
    .shop__column:last-child {
      flex: 1 1 100%; }
  .shop__btn {
    padding: 0 30px; }
  .shop__footer {
    padding: 50px 0; } }

.block-shop {
  height: 100%; }
  .block-shop__row {
    display: flex; }
  .block-shop__column {
    flex: 0 1 50%; }
  .block-shop__item {
    padding: 0 0 50% 0;
    height: auto;
    overflow: hidden; }
    .block-shop__item_big {
      padding: 0 0 202.5% 0; }
    .block-shop__item_l {
      padding: 0 0 101% 0; }

.subscribe__body {
  padding: 110px 0;
  max-width: 534px;
  margin: 0 auto;
  text-align: center; }

.subscribe__logo {
  margin: 0 0 39px 0; }

.subscribe__label {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  margin: 0 0 35px 0; }

.subscribe__form {
  display: flex; }

.subscribe__input {
  flex: 1 1 auto;
  padding: 0 8px 0 0; }
  .subscribe__input .input {
    width: 100%;
    height: 69px;
    border: 1px solid #64c29e;
    padding: 0px 28px;
    font-size: 20px;
    color: rgba(146, 146, 146, 0.502);
    margin-right: 10px; }
    .subscribe__input .input.focus {
      font-style: normal;
      color: #333; }
    .subscribe__input .input.err {
      border: 1px solid red; }

.subscribe__button {
  flex: 0 0 126px; }

.subscribe__btn {
  background-color: #64c29e;
  color: #fff;
  width: 126px;
  height: 69px;
  line-height: 1;
  font-weight: 300; }

@media (max-width: 768px) {
  .subscribe__body {
    padding: 50px 0; } }

@media (max-width: 480px) {
  .subscribe__form {
    display: block; }
  .subscribe__input {
    padding: 0 0 8px 0; }
  .subscribe__btn {
    width: 100%; } }

.footer {
  z-index: 100;
  background-color: #f7f7f7; }
  .footer__row {
    display: flex;
    align-items: center; }
  .footer__column {
    flex: 0 1 33.333%; }
  .footer__address {
    color: #848789;
    font-size: 14px;
    line-height: 1.2; }
    .footer__address p:first-child {
      font-weight: 700; }

.social {
  display: flex;
  justify-content: center;
  align-items: center; }
  .social__link {
    margin: 0 7.5px; }

.dev {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .dev__text {
    font-size: 14px;
    font-style: italic;
    color: #848789; }

/*----- MEDIA max-width: 400px -----*/
